
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-htmal5icon12"></i>
                    <div class="name">图片</div>
                    <div class="fontclass">.icon-htmal5icon12</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-edit"></i>
                    <div class="name">回复</div>
                    <div class="fontclass">.icon-edit</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ai-code"></i>
                    <div class="name">代码</div>
                    <div class="fontclass">.icon-ai-code</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuangshiyongyinhao"></i>
                    <div class="name">装饰用引号</div>
                    <div class="fontclass">.icon-zhuangshiyongyinhao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-icenter"></i>
                    <div class="name">ic_enter</div>
                    <div class="fontclass">.icon-icenter</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weibo"></i>
                    <div class="name">微博</div>
                    <div class="fontclass">.icon-weibo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhihu"></i>
                    <div class="name">知乎</div>
                    <div class="fontclass">.icon-zhihu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-insert_tag_field"></i>
                    <div class="name">编辑器 · 代码</div>
                    <div class="fontclass">.icon-insert_tag_field</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-italic"></i>
                    <div class="name">编辑器 · 斜体</div>
                    <div class="fontclass">.icon-italic</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-github"></i>
                    <div class="name">github</div>
                    <div class="fontclass">.icon-github</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shang-copy"></i>
                    <div class="name">左上</div>
                    <div class="fontclass">.icon-shang-copy</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangchuan"></i>
                    <div class="name">上传</div>
                    <div class="fontclass">.icon-shangchuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanbu"></i>
                    <div class="name">全部</div>
                    <div class="fontclass">.icon-quanbu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chaolianjie"></i>
                    <div class="name">超链接</div>
                    <div class="fontclass">.icon-chaolianjie</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuti"></i>
                    <div class="name">粗体</div>
                    <div class="fontclass">.icon-cuti</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiazai"></i>
                    <div class="name">下载</div>
                    <div class="fontclass">.icon-xiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dashujukeshihuaico-"></i>
                    <div class="name">代码</div>
                    <div class="fontclass">.icon-dashujukeshihuaico-</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huiche"></i>
                    <div class="name">回车</div>
                    <div class="fontclass">.icon-huiche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianzan"></i>
                    <div class="name">点赞</div>
                    <div class="fontclass">.icon-dianzan</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
